<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Docker Deployer</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>

<h1>Docker Deployer</h1>
<h2>Fleets</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Revision</th>
    </tr>
  </thead>
  <tbody>
    {{range $f := .Fleets}}
    {{$rs := .RevisionNames}}
    <tr>
      <td>
        <form id="fleet-{{$f.Name}}" action="/fleets/{{$f.Name}}" method="post">
          <a href="/fleets/{{or $f.Name `default`}}">{{or $f.Name "default"}}</a>
        </form>
      </td>
      <td><a href="/revisions/{{.Name}}/{{.CurrentRevisionName}}">{{.CurrentRevisionName}}</a></td>
    </tr>
    {{end}}
    <tr>
      <td>
        <form id="fleet-new" action="/fleets" method="post">
          <input name="name" placeholder="New Fleet Name" />
          <button form="fleet-new">Create</button>
        </form>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>

<h2>Machines</h2>

{{$fs := .Fleets}}
<table>
  <thead>
    <tr>
      <th>Serial Number</th>
      <th>Fleet</th>
      <th>Revision</th>
      <th>Last Sync</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{range $m := .Machines}}
    <tr>
      <td>
        <form id="form-{{.SerialNumber}}" action="/machines/{{.SerialNumber}}" method="post">
          {{.SerialNumber}}
        </form>
      </td>
      <td>
        <select form="form-{{.SerialNumber}}" name="fleet">
          {{range $f := $fs}}
          <option value="{{.Name}}" {{if or (eq .Name $m.FleetName) (and (eq `` $m.FleetName) (eq .Name
            `default`))}}selected{{end}}>
            {{or .Name "default"}}
          </option>
          {{end}}
        </select>
      </td>
      <td><a href="/revisions/{{or .FleetName `default` }}/{{.RevisionName}}">{{.RevisionName}}</a></td>
      <td>{{.LastSync}}</a></td>
      <td><button form="form-{{.SerialNumber}}">Save</button></td>
    </tr>
    {{end}}
  </tbody>
  </table>

</body>
</html>